{% extends 'core/base.html' %} {% block title %}About{% endblock %}

<h1></h1>
{% block content %}
<h1 class="mb-6 text-3xl text-teal-500">
  Your Friendly Neighborhood Marketplace
</h1>

<p class="mb-6 text-xl">
  Welcome to Covet, the place where your closet dreams come true (and your
  wallet might take a hit). We're a team of fashion-forward individuals who are
  passionate about all things clothes, shoes, and accessories. Basically, if it
  goes on your body, we want to covet it. At Covet, we believe that every piece
  of clothing deserves a second (or third, or fourth) chance to shine. That's
  why we specialize in buying and selling pre-loved clothing, vintage finds, and
  designer pieces at a fraction of the cost. It's good for the environment, good
  for your wallet, and good for your fashion game. But don't think that just
  because we sell pre-loved clothes, we're not serious about fashion. Oh no, we
  take fashion very seriously. We're the kind of people who will spend hours
  debating the merits of a certain shade of blue, or whether leopard print is
  still in (spoiler alert: it is). And when it comes to buying clothes, we know
  that it's all about the thrill of the hunt. That's why we're constantly
  scouring the internet and thrift stores for the best finds. It's like a
  treasure hunt, but instead of gold doubloons, we're looking for vintage Chanel
  jackets. So if you're looking for a unique, one-of-a-kind piece to add to your
  wardrobe, or if you just want to sell some of your gently used clothes, come
  to Covet. We promise to make it worth your while (and to always look fabulous
  while doing it).
</p>
{% endblock %}
