{% extends 'core/base.html' %} {% block title %}Contact{% endblock %}

<h1></h1>
{% block content %}

<h2 class="mb-6 font-semibold text-2xl">Your Privacy Matters to Us</h2>

<h1 class="">
  legal legal legal legal legal legal legal legal legal legal legal legal legal
  legal legal legal legal legal legal legal legal legal legal legal legal legal
  legal legal legal legal legal legal legal legal legal legal legal legal legal
  legal legal legal legal legal legal legal legal legal legal legal legal legal
  legal legal legal legal legal legal legal legal legal legal legal legal legal
  legal legal legal legal legal legal legal legal legal legal legal legal legal
  legal legal legal legal legal legal legal legal legal legal legal legal legal
  legal legal legal legal legal legal legal legal legal legal legal legal legal
  legal legal legal legal legal legal legal legal legal legal legal legal legal
  legal legal legal legal legal legal legal legal legal legal legal legal legal
  legal legal legal legal legal legal legal legal legal legal legal legal legal
  legal legal legal legal legal legal legal legal legal legal legal legal legal
  legal legal legal legal legal legal legal legal legal legal legal legal legal
  legal legal legal legal legal legal legal legal legal legal legal legal legal
  legal legal legal legal legal legal legal legal legal legal legal legal legal
  legal legal legal legal legal legal legal legal legal legal legal legal legal
</h1>

{% endblock %}
