{% extends 'core/base.html' %} {% block title %}About{% endblock %}

<h1></h1>
{% block content %}
<h1 class="mb-6 text-3xl text-teal-500">Terms of Use</h1>

<p>
  Welcome to Covet, the site where you can finally get rid of that dress you've
  been holding onto for years (even though it doesn't fit) and maybe make a
  little money in the process. But before you dive headfirst into the world of
  pre-loved clothes, there are a few things you should know. So let's get to the
  nitty-gritty of our terms of use: By using our site, you agree to follow our
  strict dress code policy. That means no socks with sandals, no cargo shorts
  (unless you're a dad on vacation), and absolutely no Hawaiian shirts (unless
  you're actually in Hawaii). We take fashion seriously here at Covet, people.
  You must be over the age of 18 to use our site. Sorry kids, but you're going
  to have to stick with the clothes your parents buy you for now. We reserve the
  right to reject any item that we feel doesn't meet our high standards of
  quality. So if you're trying to sell that stained t-shirt from your college
  days, you're out of luck. All transactions are final. That means no
  take-backsies, no do-overs, and definitely no refunds. So make sure you really
  want that vintage leather jacket before you hit that "buy" button. We're not
  responsible for any fashion-related injuries that may occur while using our
  site. If you trip over your own stilettos while browsing our selection, that's
  on you. If you're caught stealing someone else's fashion ideas, we will not
  hesitate to call in the fashion police. And trust us, you do not want to mess
  with the fashion police. So there you have it, folks. Our terms of use may be
  a little unconventional, but hey, so are we. Now go forth and find that
  perfect piece to add to your wardrobe (just make sure it's not a Hawaiian
  shirt).
</p>

{% endblock %}
